<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Howeasyy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Howeasyy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Howeasyy.My.MySettings>
            <setting name="c" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="f" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="g" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MainpageOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPageOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="UserStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink1" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink2" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink3" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink4" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink5" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink6" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink7" serializeAs="String">
                <value />
            </setting>
            <setting name="browserlink8" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername1" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername2" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername3" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername4" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername5" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername6" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername7" serializeAs="String">
                <value />
            </setting>
            <setting name="browsername8" serializeAs="String">
                <value />
            </setting>
        </Howeasyy.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Howeasyy.My.MySettings>
            <setting name="n" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DatabaseHost" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>162.240.40.248</string>
                        <string>howeasyy_howeasyy</string>
                        <string>howeasyy_howeasyy</string>
                        <string>Glashen2023!</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Howeasyy.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
